$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
$colors: (
  primary:    #8fe7f5,
  secondary:  #6584eb,
  danger:     #a74343,
  light:      #d8d0d0,
  dark:       #222,
  

);
// toolbar color
$toolbar-background: color($colors, primary);
$toolbar-md-title-text-color: color($colors,danger);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
