.menu-top{
    padding: 5px;
    background-image: url('../assets/imgs/background-menu.png');
}
.avatar{
    margin-left: 15px;
    margin-bottom: 2px;
}
.icon-menu{
    margin-right: 13px;
    font-size: 30px;   
}
.icon{
    margin-right: 13px;
}
