page-update-media {

}

.update-media-save{
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

.update-media-save :hover{
    opacity: 0.8;
}

.update-header{
  font-size: 20px;
  color: gray;
}

.update-title{
    font-size: 17px;
    color: gray;
}

.update-description{
    font-size: 17px;
    color: gray;
}

.update-input-title{
    border: 1px solid gray;
    margin: auto;
    width: 300px;
}

.update-input-description{
    border: 1px solid gray;
    margin: auto;
    width: 300px
}
