<ion-content padding>
  <div>  
    <ion-segment [(ngModel)]="function">
      <ion-icon name="arrow-back" (click)="dismiss()"></ion-icon>
      <ion-segment-button value="favourite">
        Favourite
      </ion-segment-button>
      <ion-segment-button value="comment">
        Comment
      </ion-segment-button>
      <ion-segment-button value="rating">
        Rating
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="function">
    <ion-list *ngSwitchCase="'favourite'">
      <ion-item>
        <ion-icon name="thumbs-up" (click)="createFavourite()" [color]="like_color"></ion-icon>
      </ion-item>
      <ion-item *ngFor="let like of like_list">
        <ion-icon name="contact"></ion-icon>
        <span>{{like.username}}</span>
      </ion-item>
    </ion-list>
    <div *ngSwitchCase="'comment'">
      <ion-card *ngFor="let comment of comment_list">
        <ion-card-header class="comment-username">
          <ion-icon name="contact"></ion-icon>
          {{comment.username}}
        </ion-card-header>
        <ion-card-content>
          {{comment.comment}}
        </ion-card-content>
        <ion-note class="comment-createdTime">
          {{comment.time_added | amTimeAgo}}
        </ion-note>
        <ion-icon name="trash" 
        class="comment-trash" 
        (click)="deleteComment(comment.comment_id)" 
        *ngIf="comment.user_id==user_id ? true:false">
        </ion-icon>
      </ion-card>
      <ion-card>
        <ion-card-header>
          Comment
        </ion-card-header>
        <ion-card-content>
          <ion-textarea placeholder="Enter your comment" class="comment-input" name="comment" [(ngModel)]="comment">
          </ion-textarea>
          <button class="comment-send" (click)="createComment()">Send</button>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-list *ngSwitchCase="'rating'">
     <ion-card *ngFor="let rating of rating_list">
       <ion-card-header class="rating-username">
        <ion-icon name="contact"></ion-icon>
        {{rating.username}}
       </ion-card-header>
       <ion-card-content>
         <span *ngFor="let i of [1,2,3,4,5]">
            <ion-icon name="star" *ngIf="i > rating.rating ? false:true"></ion-icon>
         </span>
       </ion-card-content>
       <ion-icon name="trash" 
       class="comment-trash" 
       *ngIf="rating.user_id == user_id ? true:false"
       (click)="deleteRating(rating.file_id)" >
       </ion-icon>
     </ion-card>
     <ion-card>
       <ion-card-header>
         Rating
       </ion-card-header>
       <form (submit)="createRating()">
         <input type="radio" value="1" name="myRating" [(ngModel)]="myRating"> 1 <br>
         <input type="radio" value="2" name="myRating" [(ngModel)]="myRating"> 2 <br>
         <input type="radio" value="3" name="myRating" [(ngModel)]="myRating"> 3 <br>
         <input type="radio" value="4" name="myRating" [(ngModel)]="myRating"> 4 <br>
         <input type="radio" value="5" name="myRating" [(ngModel)]="myRating"> 5 <br><br>
         <button type="submit" class="rating-submit">Submit</button>
       </form>
     </ion-card>
    </ion-list>
  </div>
</ion-content>
